<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suiyi.main">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".SHApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme,android:icon,android:name,android:roundIcon,android:label">
        <activity android:name=".activity.StatusBarActivity"></activity>
        <activity android:name=".activity.TinkerTestActivity" />
        <activity android:name=".activity.DecorViewActivity" />
        <activity android:name=".activity.ViewPagerNewActivity" />
        <activity android:name=".activity.DataBindingActivity" />
        <activity android:name=".activity.StickyNotScrollActivity" />
        <activity android:name=".activity.CircleRectangleActivity" /> <!-- AutoSize 框架使用 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />

        <activity android:name=".activity.CartActivity" />
        <activity android:name=".EntranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CoroutineScopeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.SecondFloorActivity" />
        <activity android:name=".activity.ScrollerActivity" />
        <activity android:name=".activity.RVIndicatorActivity" />
        <activity android:name=".activity.RecyclerReuseBugActivity" />
        <activity
            android:name=".activity.FlutterTestActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".activity.LottieActivity" />
        <activity
            android:name=".activity.NestedViewPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.SVGAPlayerActivity" />
        <activity
            android:name=".activity.PagingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ContextTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.RecyclerDiffActivity" />
        <activity android:name=".activity.WebPActivity" />
        <activity android:name=".activity.StaggerBugActivity" />
        <activity android:name=".activity.DownloadSkinBagActivity" />
        <activity android:name=".activity.DrawableActivity" />

        <meta-data
            android:name="environment"
            android:value="${environment}" />
    </application>

</manifest>